.slider {
  margin: 100px auto 0;
  min-height: 100px;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  max-height: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;

  .navButton {
    background-color: #ddd;
    border: none;
    padding: 8px 16px;
    margin: 0 10px;
    font-size: 16px;

    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.activeDot {
  background-color: #333;
}
